.footer {
    width: 100%;
    background-color: black;
    p {
        font-family: 'Open-Sans', sans-serif;
        color: white;
        text-align: center;
        padding: 20px 0;
        font-size: 1.5rem;
    }
}