/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-family: "Open Sans";
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .menu li.burger {
  display: none;
}
.header .menu li {
  margin: 0 15px;
  padding: 0 10px;
}
.header .menu li a {
  font-size: 2rem;
  color: #595757;
  text-decoration: none;
  font-weight: 50;
  transition: 0.2s ease all;
}
.header .menu li a:hover {
  color: black;
}
.header .menu li a i {
  margin-right: 3px;
}
.header .menu li a img {
  max-width: 130px;
}
.header .menu-contact {
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
}
.header .menu-contact li {
  margin: 0 8px;
  padding: 0 4px;
}
.header .menu-contact li a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  font-weight: 50;
  transition: 0.2s ease all;
}
.header .menu-contact li a:hover {
  color: black;
}
.header .menu-contact li a i {
  margin-right: 3px;
  color: #595757;
  transition: 0.2s ease all;
}
.header .menu-contact li a i:hover {
  color: black;
}

.error {
  font-family: "Open-Sans", sans-serif;
  text-align: center;
  margin-top: 150px;
}
.error h1 {
  color: red;
  font-size: 5rem;
  position: relative;
}
.error h1::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 5rem);
  width: 100px;
  height: 3px;
  background-color: red;
}
.error h2 {
  margin-top: 40px;
  font-size: 2.5rem;
  color: #3d3d3d;
}

main {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/pizza.jpg");
  background-position: left;
  z-index: -1;
}
main h1 {
  margin-left: 50px;
  color: white;
  font-family: "Anton";
  font-size: 4.5rem;
  font-style: italic;
}
main h2 {
  margin-left: 50px;
  font-size: 3rem;
  color: white;
  font-family: "Open-Sans", sans-serif;
}
main .btn {
  font-family: "Open-Sans", sans-serif;
  margin-left: 50px;
  background-color: #1d51e0;
  padding: 20px 0;
  width: 250px;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 30px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  transition: 0.2s ease all;
}
main .btn:hover {
  background-color: #2e5fe6;
  transform: scale(1.1, 1.1);
}

.fast-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 35px 0 80px 0;
}
.fast-menu a {
  font-family: "Open-Sans", sans-serif;
  width: 30vw;
  height: 300px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
}
.fast-menu a:first-child {
  position: relative;
}
.fast-menu a:first-child::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: url("../../assets/images/special.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(70%);
}
.fast-menu a:nth-child(2) {
  position: relative;
}
.fast-menu a:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/order.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(70%);
}
.fast-menu a:last-child {
  position: relative;
}
.fast-menu a:last-child::before {
  position: absolute;
  content: "";
  top: 20px;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/contact.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(70%);
}

.orders {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 5vw 50px 5vw;
  background-color: #141414;
}
.orders h1.heading {
  text-align: center;
  font-family: "Open-Sans";
  font-style: italic;
  font-size: 4rem;
  color: white;
  letter-spacing: 3px;
  padding-top: 30px;
}
.orders article {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orders article img {
  max-width: 400px;
  max-height: 300px;
  border-radius: 25px;
  transition: 0.2s ease all;
}
.orders article img:hover {
  filter: grayscale(50%);
}
.orders article .wrapper {
  font-family: "Open-Sans", sans-serif;
  padding-left: 130px;
}
.orders article .wrapper h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
}
.orders article .wrapper h2 {
  font-size: 2.5rem;
  color: #1d51e0;
  padding: 5px 0;
}
.orders article .wrapper h3 {
  font-size: 2rem;
  color: white;
}
.orders article .wrapper h3 span {
  color: gray;
}

.footer {
  width: 100%;
  background-color: black;
}
.footer p {
  font-family: "Open-Sans", sans-serif;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px auto;
  padding: 75px 75px;
  border-radius: 50px;
  border: 2px solid black;
}
.loginForm label {
  font-size: 2rem;
  font-family: "Open-Sans", sans-serif;
  text-align: center;
  padding: 15px 0;
}
.loginForm input {
  border-bottom: 2px solid black;
  margin: 10px 0;
  font-size: 2rem;
}
.loginForm input[type=submit] {
  border: 2px solid black;
  padding: 15px;
  font-size: 2rem;
}

.orderForm {
  width: 90vw;
  margin: 50px 5vw;
  font-family: "Open-Sans", sans-serif;
}
.orderForm h1.title {
  text-align: center;
  font-size: 3rem;
  position: relative;
  padding: 10px 0;
}
.orderForm h1.title:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: black;
  bottom: 0px;
  left: calc(50% - 2rem);
  border-radius: 25px;
}
.orderForm .orderField {
  display: flex;
}
.orderForm .orderField .orderMenu, .orderForm .orderField .orderCart {
  width: 45vw;
  text-align: center;
  margin-top: 50px;
}
.orderForm .orderField .orderMenu .item {
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}
.orderForm .orderField .orderMenu .item:hover {
  background-color: #f2f2f2;
}
.orderForm .orderField .orderMenu .item p {
  font-size: 1.5rem;
}
.orderForm .orderField .orderMenu .item button {
  margin-left: 20px;
  font-size: 3rem;
  color: green;
  transition: 0.2s ease all;
}
.orderForm .orderField .orderMenu .item button:hover {
  transform: rotate(90deg);
  color: lime;
}
.orderForm .orderField .orderCart .sum {
  margin-top: 25px;
}
.orderForm .orderField .orderCart .sum p {
  font-size: 2rem;
}
.orderForm .orderField .orderCart .sum p span {
  font-weight: bold;
}
.orderForm .orderField .orderCart .sum p b {
  font-weight: normal;
  color: green;
}
.orderForm .orderField .orderCart input[type=submit] {
  margin: 20px 0;
  background-color: green;
  padding: 10px 25px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  transition: 0.2s ease all;
}
.orderForm .orderField .orderCart input[type=submit]:hover {
  cursor: pointer;
  background-color: lime;
  transform: scale(1.2, 1.2);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.orderForm .orderField .orderCart .elements .orderId {
  max-width: 400px;
  margin-left: calc(50% - 200px);
  padding: 15px 0;
  text-align: center;
  background-color: #f2f2f2;
  border-bottom: 3px dotted black;
}
.orderForm .orderField .orderCart .elements .orderId h1 {
  font-size: 1.8rem;
}
.orderForm .orderField .orderCart .elements .orderId p {
  font-size: 1.5rem;
}
.orderForm .orderField .orderCart .elements .orderId p span {
  color: green;
}
.orderForm .orderField .orderCart .elements .orderId:last-child {
  margin-bottom: 20px;
}
.orderForm .orderField .orderCart .elements .orderId button {
  margin-left: 20px;
  font-size: 2rem;
  color: darkred;
  transition: 0.2s ease all;
  position: relative;
  transform: rotate(90deg);
  font-weight: bold;
}
.orderForm .orderField .orderCart .elements .orderId button:hover {
  transform: rotate(180deg);
  color: red;
}

@media only screen and (max-width: 1000px) {
  .header {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .header .menu {
    flex-direction: column;
    margin-left: 0px;
    justify-content: center;
  }
  .header .menu li.burger {
    display: block;
  }
  .header .menu li {
    margin: 6px 0;
    padding: 4px 0;
  }
  .header .menu li a i {
    margin-right: 0;
  }
  .header .menu li a img {
    max-width: 120px;
  }
  .header .menu-contact {
    flex-direction: column;
    justify-content: center;
    margin: 15px 0 0 0;
    text-align: center;
  }
  .header .menu-contact li {
    margin: 6px 0;
    padding: 4px 0;
  }

  .fast-menu {
    max-width: 100%;
    flex-direction: column;
  }
  .fast-menu a {
    margin: 10px auto;
    width: 90vw;
    font-size: 2.5rem;
  }

  .orders article {
    flex-direction: column;
  }
  .orders article img {
    max-width: 90%;
  }
  .orders article .wrapper {
    padding: 10px 0;
  }

  .submenu {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
