/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  font-family: "Open Sans";
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .menu li {
  margin: 0 15px;
  padding: 0 10px;
}
.header .menu li a {
  font-size: 2rem;
  color: #595757;
  text-decoration: none;
  font-weight: 50;
  transition: 0.2s ease all;
}
.header .menu li a:hover {
  color: black;
}
.header .menu li a i {
  margin-right: 3px;
}
.header .menu li a img {
  max-width: 130px;
}
.header .menu-contact {
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
}
.header .menu-contact li {
  margin: 0 8px;
  padding: 0 4px;
}
.header .menu-contact li a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  font-weight: 50;
  transition: 0.2s ease all;
}
.header .menu-contact li a:hover {
  color: black;
}
.header .menu-contact li a i {
  margin-right: 3px;
  color: #595757;
  transition: 0.2s ease all;
}
.header .menu-contact li a i:hover {
  color: black;
}

main {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/pizza.jpg");
  background-position: left;
  z-index: -1;
}
main h1 {
  margin-left: 50px;
  color: white;
  font-family: "Anton";
  font-size: 4.5rem;
  font-style: italic;
}
main h2 {
  margin-left: 50px;
  font-size: 3rem;
  color: white;
  font-family: "Open-Sans", sans-serif;
}
main .btn {
  font-family: "Open-Sans", sans-serif;
  margin-left: 50px;
  background-color: #1d51e0;
  padding: 20px 0;
  width: 250px;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 30px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  transition: 0.2s ease all;
}
main .btn:hover {
  background-color: #2e5fe6;
  transform: scale(1.1, 1.1);
}

.fast-menu {
  display: flex;
  justify-content: center;
  margin: 5vw 0;
  width: 100%;
}
.fast-menu a {
  font-family: "Open-Sans", sans-serif;
  width: 30vw;
  height: 300px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
}
.fast-menu a:first-child {
  position: relative;
}
.fast-menu a:first-child::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/special.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(70%);
}
.fast-menu a:nth-child(2) {
  position: relative;
}
.fast-menu a:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/order.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(70%);
}
.fast-menu a:last-child {
  position: relative;
}
.fast-menu a:last-child::before {
  position: absolute;
  content: "";
  top: 20px;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/contact.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale(70%);
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 5vw;
  background-color: #141414;
}
.menu h1.heading {
  text-align: center;
  font-family: "Anton";
  font-style: italic;
  font-size: 4rem;
  color: white;
  letter-spacing: 3px;
  padding-top: 30px;
}
.menu article {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu article img {
  max-width: 400px;
  max-height: 300px;
  border-radius: 25px;
  transition: 0.2s ease all;
}
.menu article img:hover {
  filter: grayscale(50%);
}
.menu article .wrapper {
  font-family: "Open-Sans", sans-serif;
  padding-left: 130px;
}
.menu article .wrapper h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
}
.menu article .wrapper h2 {
  font-size: 2.5rem;
  color: #1d51e0;
  padding: 5px 0;
}
.menu article .wrapper h3 {
  font-size: 2rem;
  color: white;
}
.menu article .wrapper h3 span {
  color: gray;
}

/*# sourceMappingURL=main.css.map */
