.loginForm {

    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
    padding: 75px 75px;
    border-radius: 50px;
    border: 2px solid black;

    label {
        font-size: 2rem;
        font-family: 'Open-Sans', sans-serif;
        text-align: center;
        padding: 15px 0;
    }
    input {
        border-bottom: 2px solid black;
        margin: 10px 0;
        font-size:2rem;
    }

    input[type=submit] {
        border: 2px solid black;
        padding: 15px;
        font-size: 2rem;
    }
}

.status {
    text-align: center;
    padding: 130px 0;
    font-family: 'Open-Sans', sans-serif;
    h1 {
        color: #3d3d3d;
        font-size: 5rem;
        text-transform: uppercase;
        position: relative;
        margin: 0 0 50px 0;
        &::before {
            position: absolute;
            bottom: -20px;
            width: 100px;
            background-color: #3d3d3d;
            height: 4px;
            left: calc(50% - 50px);
            border-radius: 55px;
            content: '';
        }
    }
    p {
        color: limegreen;
        font-size: 2rem;
        padding: 5px 0;
        font-weight: bold;
    }
    a {
        display: block;
        padding-top: 50px;
        color: #3d3d3d;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-decoration: none;
    }
}