@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

.header {
  font-family: "Open-Sans", sans-serif;
  width: 100%;
  background-color: #3d3d3d;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.header ul.adminMenu {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.header ul.adminMenu li {
  margin: 5px;
  padding: 10px 25px;
  transition: 0.2s ease all;
}
.header ul.adminMenu li a {
  text-decoration: none;
  color: white;
}
.header ul.adminMenu li:hover {
  background-color: white;
  border-radius: 25px;
}
.header ul.adminMenu li:hover a {
  color: #3d3d3d;
}

.adminForm {
  font-family: "Open-Sans", sans-serif;
  font-size: 1.8rem;
  margin-top: 50px;
  width: 400px;
  margin-left: calc(50% - 200px);
  display: flex;
  flex-direction: column;
}
.adminForm input {
  border-bottom: 1px solid black;
  padding: 20px 0;
}
.adminForm input[type=submit] {
  border: 1px solid black;
}
.adminForm input[type=file] {
  border: none;
}

.menuConf {
  font-family: "Open-Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.menuConf tr td {
  text-align: center;
  padding: 15px;
  border: 1px solid black;
}
.menuConf tr td a {
  text-decoration: none;
  color: darkgoldenrod;
}
.menuConf tr:first-child td {
  color: darkgoldenrod;
}

.newMenu {
  font-family: "Open-Sans", sans-serif;
  margin-top: 20px;
}
.newMenu input {
  font-size: 15px;
  background-color: darkgreen;
  width: 300px;
  margin-left: calc(50% - 150px);
  padding: 15px 0;
  text-align: center;
  color: white;
  border-radius: 25px;
  transition: 0.2s ease all;
}
.newMenu input:hover {
  cursor: pointer;
  background-color: green;
}

.order {
  font-family: "Open-Sans", sans-serif;
  width: 90vw;
  margin: 20px auto;
  padding: 10px;
  background-color: #f2f2f2;
}
.order ul.pizza {
  display: flex;
}
.order ul.pizza li {
  font-size: 20px;
  margin: 5px;
}
.order ul.pizza li span {
  font-weight: bold;
  color: darkgoldenrod;
}
.order .price {
  display: block;
  margin: 5px 0 5px 5px;
  font-weight: bold;
}
.order .date {
  margin-top: 10px;
  margin-left: 5px;
  font-style: italic;
}
.order .email {
  margin-left: 5px;
  color: darkgoldenrod;
}
.order p {
  font-size: 15px;
  margin-left: 5px;
  padding: 5px 0;
  color: darkgoldenrod;
}
.order .payment {
  margin-left: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.order form {
  display: flex;
  justify-content: flex-end;
}
.order form input[type=text] {
  border-bottom: 1px solid black;
}
.order form input {
  margin: 5px;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}
.order form input:first-child {
  background-color: darkgreen;
}
.order form input:nth-child(2) {
  background-color: darkred;
}
.order form input:hover {
  cursor: pointer;
}
.order form input:hover:first-child {
  background-color: #38c41b;
}
.order form input:hover:nth-child(2) {
  background-color: red;
}

/*# sourceMappingURL=main.css.map */
