
* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '../reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'header';

.menuConf {
    font-family: 'Open-Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    tr {
        td {
            text-align: center;
            padding: 15px;
            border: 1px solid black;
            a {
                text-decoration: none;
                color: darkgoldenrod;
            }
        }
        &:first-child {
            td {
                color: darkgoldenrod;
            }
        }
    }
}

.newMenu {
    font-family: 'Open-Sans', sans-serif;
    margin-top: 20px;
    input {
        font-size: 15px;
        background-color: darkgreen;
        width: 300px;
        margin-left: calc(50% - 150px);
        padding: 15px 0;
        text-align: center;
        color: white;
        border-radius: 25px;
        transition: .2s ease all;
        &:hover {
            cursor: pointer;
            background-color: green;
        }
    }
}

.order {
    font-family: 'Open-Sans', sans-serif;
    width: 90vw;
    margin: 20px auto;
    padding: 10px;
    background-color: #f2f2f2;
    ul.pizza {
        display: flex;
        li {
            font-size: 20px;
            margin: 5px;
            span {
                font-weight: bold;
                color: darkgoldenrod;

            }
        }
    }
    .price {
        display: block;
        margin: 5px 0 5px 5px;
        font-weight: bold;
    }
    .date {
        margin-top: 10px;
        margin-left: 5px;
        font-style: italic;
    }
    .email {
        margin-left: 5px;
        color:darkgoldenrod;
    }
    p {
        font-size: 15px;
        margin-left: 5px;
        padding: 5px 0;
        color: darkgoldenrod;
    }

    .payment {
        margin-left: 5px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

    form {
        display: flex;
        justify-content: flex-end;
        input {
            margin: 5px;
            padding: 10px 20px;
            color: white;
            border-radius: 10px;
            font-size: 15px;
            &:first-child {
                background-color: darkgreen;
            }
            &:nth-child(2){
                background-color: darkred;
            }
            &:hover {
                cursor: pointer;
                &:first-child {
                    background-color: #38c41b;
                }
                &:nth-child(2) {
                    background-color: red;
                }
            }
        }
    }
}