html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '../reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'header';

